* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#container {
    width: 500px;
    height: 300px;
    /*debug*/
    background-color: yellowgreen;
}

#miniContainer {
    width: 150px;
    height: 300px;
    position: relative;
    /*debug*/
    background-color: coral;
    

}

.cover {
    width: 150px;
    height: calc(100% / 5);
    object-fit: cover;
    display: block;
}

#up {
    position: absolute;
    top: 1%;
    left: 44%;
    border-radius: 50px;
    font-size: 12px;
    padding-top: 7px;
    padding-right: 7px;
    padding-left: 7px;
    font-weight: bolder;
    cursor: pointer;
    /*debug*/
    background-color: #E91E63;
}

#down {
    position: absolute;
    bottom: 1%;
    left: 44%;
    border-radius: 50px;
    font-size: 12px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 7px;
    font-weight: bolder;
    cursor: pointer;
    /*debug*/
    background-color: #E91E63;
}